    .art-section .music-content-div {
        margin-bottom: 6vh !important;
        font-family: "coolvetica";
        font-size: 18pt;
    }

    .art-section .guest-mixes-2 {
        color: #443b38
    }

    .art-section .featured-artist {
        width: 98vh !important;
    }

    .art-section .profile-details {
        font-family: 'coolvetica' !important;
    }

    .art-section .anu-peace {
        top: 0 !important
    }

    .art-section  .box-three {
        width: 40vw !important;
    }

    .guifire-pic-align {
        height: 20vh !important;
        margin-top: 4vh !important;
    }

    .yantrart {
        color: white;
        font-size: 65pt;
        line-height: 12vh;
    }

    .art-section .content-div {
        background: #b38955;
    } 

    .art-section .horizontal-scroll-wrapper {
         background-color: #b38955 !important;
    }
   .five {
         background-color: #b38955 !important;
    }
     .six {
         background-color: #b38955 !important;
    }
    .seven {
         background-color: #b38955 !important;
    }
   .eight {
        background-color: #b38955 !important;
    }