    .art-section .music {
        opacity: 30% !important;
    }

    .art-section .art {
        opacity: 100% !important;
    }

    .art-section .culture {
         opacity: 30% !important;
    }

    .art-section .music-content-div {
        width: 120vw !important;
        margin-bottom: 46vh !important;
    }

    .art-section .featured-artist {
        width: 98vh !important;
    }

    .art-section .profile-details {
        line-height: 5.5vh !important;
        font-family: 'coolvetica' !important;
    }

    .art-section .anu-peace {
        top: 0 !important
    }

    .art-section  .box-three {
        width: 40vw !important;
    }

    .guifire-pic-align {
        height: 40vh !important;
        margin-top: 4vh !important;
    }

    .yantrart {
        color: white;
        font-size: 65pt;
        line-height: 12vh;
    }

    .art-section .content-div {
        background: #b38955;
    } 

    .art-section .horizontal-scroll-wrapper {
         background-color: #b38955 !important;
    }
   .five {
         background-color: #b38955 !important;
    }
     .six {
         background-color: #b38955 !important;
    }
    .seven {
         background-color: #b38955 !important;
    }
   .eight {
        background-color: #b38955 !important;
    }