  .music-background {
      background-color: #7e6b71;
      background-image: url("assets/background-graphic.png");
      height: 100vh;
      width: 100vw;
      background-position: center center;
      background-size: cover;
      position: relative;
      transition: s;
    }

    .music-section {
      margin-bottom: 46vh;
    }

    .art-section {
      margin-bottom: 46vh;
    }

    .inner-content {
      overflow: scroll;
      height: 63vh;
      margin-top: 10vh;
      display: none;
    }
    
    .content-div {
      padding: 0vh 10vh 0 10vh;
      display: flex;
      background: #7e6b71;
      position: absolute;
      margin: 10vh;
      width: -webkit-fill-available;
    }
  
    .music {
      font-family: "coolvetica";
      font-size: 125pt;
      color: #443b38;
      opacity: 100%;
    }
  
    .art {
      font-family: "coolvetica";
      font-size: 125pt;
      line-height: 20vh;
      color: #443b38;
      opacity: 30%;
    }
  
    .culture {
      font-family: "coolvetica";
      font-size: 125pt;
      line-height: 33vh;
      color: #443b38;
      opacity: 30%;
    }
  
    .dharti-radio-title {
      font-family: "coolvetica";
      font-size: 125pt;
    }
  
    .general-font {
      font-family: "coolvetica";
      font-size: 35pt;
    }
  
    .music-content {
      margin-top: -85vh;
      margin-left: 103vh;
      width: 100vw;
    }
  
    .music-content-div  > div {
      color: white !important;
      left: 0 !important;
    }  
    
    .music-content-div {
      font-size: 18pt;
    }
  
    .music-content-div > div > p {
      line-height: 4vh;
      font-family: 'coolvetica';
      font-size: x-large;
      letter-spacing: 3px;
    }
  
    .radio-player { 
      color: white;
      font-size: 50pt;
      line-height: 75%;
    }
    .guest-mixes {
      color: white;
      font-size: 50pt;
      line-height: 75%;
    }
  
    .one {
      background-color: #7e6b71;
    }
    .two {
      background-color: #7e6b71;
    }
    .three {
      background-color: #7e6b71;
    }
    .four {
      background-color: #7e6b71;
    }

    .dharti-title {
      font-family: "coolvetica";
    font-size: 43pt;
    line-height: 7vh;
    display: block;
    margin-top: 2vh;
    }
  
    .home-radio-player {
      position: fixed;
      bottom: 0;
      right: 0;
    }
  
    .music-radio-player {
      width: 75vh !important;
    }
  
    .guest-mixes {
      top: 4%;
      width: 75vh !important;
    }

    .guest-mixes-2 {
      font-family: "coolvetica";
      font-size: 43pt;
      line-height: 7vh;
      display: block;
      margin-top: 2vh;
    }
    
    .anu-peace {
      top: 10%;
    }
  
    .box-three {
      width: 75vw !important;
    }
  
    .tasneem-pic-align {
      height: 14vh;
      margin-top: 4vh;
    }
  
    .name-highlight {
      font-size: 20pt;
      font-family: 'coolvetica';
      color: white;
    }
  
    .anu-name-highlight {
      color: white;
      font-size: 18pt;
      font-family: 'coolvetica';
      font-size: 50pt;
    }
  
    .profile-details {
      color: white;
      font-size: 18pt;
      font-family: 'coolvetica';
      line-height: 4vh;
    }